.container {
    max-width: 400px;
    margin: 0 auto;
}

.number-container {
    display: flex;
    justify-content: space-between;
}

.switch {
    display: inline-block;
    width: 43px;
    height: 22px;
    background-color: $switch-color-off;
    position: relative;
    border-radius: 100px;
    
    &:hover {
        cursor: pointer;
    }

    &::after {
        content:'';
        position: absolute;
        width: 14px;
        height: 14px;
        left: 9.3%;
        top: 18%;
        background-color: #FFFFFF;
        border-radius: 50%;
    }

    &.selected {
        background-color: $switch-color-on;

        &::after {
            content:'';
            left: unset;
            right: 9.3%;
        }
    }
}