#selected_range {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: #ECF0FB;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  #selected_range:hover {
    opacity: 1;
  }
  
  #selected_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url('../images/icon-slider.svg') no-repeat center center/contain;
    background-color: $color-green;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  
  #selected_range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }