#price {
    &::before {
        content:'\0024'
    }
}

.text-heading {
    font-size: 28px;
    letter-spacing: 0;
    font-weight: 800;
}

.text-paragraph {
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 600;

    &.smaller {
        font-size: 12px;
    }
}


.text-pageview {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 800;
}

.text-price {
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 800;
}

.text-timespan {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
}

.highlight {
    color: #FF8D68;
    background-color: #FEEDE8;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 0;
    border-radius: 100px;
    padding: 4px 8px;
}

.color-gray {
    color: #848EAD;
}

.color-dark {
    color: #293356;
}

.text-center {
    text-align: center;
}